  <br>
  <div class="container contenedor-animes">
  <div class="row">
    <!-- COMPLETAR CON EL LLAMADO A UNA FUNCIÓN PROPIA QUE CALCULE EL RATING PROMEDIO -->
    <p>El rating promedio es <span class="badge text-bg-primary rounded-pill">{{ getRatingPromedio() }}</span></p>
    <div *ngIf="selected">
      <app-anime-detail [animeDetail]="selectedBAnime"></app-anime-detail>
      <hr>
    </div>
    <div class="col-4" *ngFor="let anime of animes">
      <div class="card" style="width: 18rem; margin-bottom: 20px;">
        <img [src]="anime.img" class="card-img-top" [alt]="anime.name">
        <div class="card-body">
          <h5 class="card-title">{{ anime.name }}</h5>
          <p class="card-text">{{ anime.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            ⭐ {{ anime.Rating }}
          </li>
          <li class="list-group-item">
            <b>Categories:</b> {{ anime.categorie }}
          </li>
          <li class="list-group-item">
            <b># seasons:</b> {{ anime.seasons.length }}
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary" (click)="onSelected(anime)">More information</a>
        </div>
      </div>
    </div>
  </div>
</div>
